@using MvcCv.Models.Entity
@model List<TblDeneyimlerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <div class="card">
                                <div class="card-header">
                                    <h2>Deneyim Listem</h2>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Başlık</th>
                                                <th>Alt Başlık</th>
                                                <th>Tarih</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var x in Model)
                                            {
                                                <tr>
                                                    <td>@x.ID</td>
                                                    <td>@x.Baslik</td>
                                                    <td>@x.AltBaslik</td>
                                                    <td>@x.Tarih</td>
                                                    <td class="text-center"><a href="/Deneyim/DeneyimSil/@x.ID" class="btn btn-danger" style="margin-right:15px">Sil</a><a href="/Deneyim/DeneyimGetir/@x.ID" class="btn btn-warning">Düzenle</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a href="/Deneyim/DeneyimEkLE/" class="btn btn-primary">Yeni Deneyim Ekle</a>
    </div>
</body>
</html>


